<nav class="navbar navbar-masthead navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#/">
        <img src="images/logo11w.png" style="max-height:150%;">
      </a>
    </div>
      <div class="col-sm-6 col-md-6">
        <form class="navbar-form form-search">
            <div class="input-group">
                <input type="text" class="form-control" id="searchQueryPage" ng-change="search()" ng-model="fields.searchQuery" focus>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
          </form>
        </div>
  </div>
</nav>

<div class="results">
  <div class="resultstats" ng-hide="result.length == null">
    {{result.length}} results
  </div>

  <div ng-repeat="item in result | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
         <h4>
        <a href="{{item.url}}">{{item.title}}</a>
      </h4>
      <div class="url-result">
        {{item.url}}
      </div>
      {{item.description | limitTo: 200}}
      <hr>
  </div>

  <ul class="pagination">
    <li>
      <a href="" ng-hide="pagination.numPages == 1 || pagination.numPages == 0" ng-click="pagination.prevPage()" scrollup>&laquo;</a>
    </li>
      
    <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}" ng-hide="pagination.numPages == 1">
      <a href="" ng-click="pagination.toPageId(n)" scrollup>{{n + 1}}</a>
    </li>

    <li>
      <a href="" ng-hide="pagination.numPages == 1 || pagination.numPages == 0" ng-click="pagination.nextPage()" scrollup>&raquo;</a>
    </li>
  </ul>

  <div class="no-results" ng-hide="pagination.numPages != 0">
    <p>Your search - <b>{{fields.searchQuery}}</b> - did not match any documents.</p>
    
    <p>Suggestions:</p>
    <ul type="disc">
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
      <li>Try fewer keywords.</li>
    </ul>
  </div>
</div>