    <div class="container">
        <img class="img-responsive center" alt="Responsive image" src="images/logo11w.png">
        <form class="form-search">
          <input type="text" id="searchQuery" class="form-control" ng-change="query()" ng-model="fields.searchQuery" focus>

          <div class="row">
            <div class="text-center btn-toolbar">
              <a href=""><button class="btn btn-default btn-sm" type="submit">Google search</button></a>
              <button class="btn btn-default btn-sm" type="submit"><strike>I'm feeling lucky</strike></button>
            </div>
          </div>
        </form>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="pull-left">
          <ul class="list-inline">
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>

        <div class="pull-right">
          <ul class="list-inline">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </footer>