/* Navbar styles
-------------------------------------------------- */
.navbar-static-top {
  margin-bottom: 19px;
}


/* Search form styles
-------------------------------------------------- */
.form-search {
  max-width: 571px;
  height: 60px;
  padding: 15px;
  margin: 0 auto;
}
.form-search-heading {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
}
.form-search .form-control {
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px, 9px, 0px;
  font-size: 16px;
  overflow: hidden;
}
.form-search .form-control:focus {
  z-index: 2;
}
.form-search input[type="text"] {
  margin-bottom: 10px;
}

/* Result page styles
-------------------------------------------------- */
.results{
  margin:50px;
  width:40%;
}

.no-results{
  font-size: 16px;
}

.url-result{
  color:#006621;
}

.resultstats{
  color: #808080;
}

#searchQueryPage{
  width: 420px;
}

/* Footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 40px;
  background-color: #f5f5f5;

  border-top: 1px solid #e4e4e4;
}

.list-inline > li > a{
  color: #777;
}

.footer > .container {
  padding: 10px;
}

/* Misc styles
-------------------------------------------------- */

.img-responsive{
  max-width: 30%;
  margin-top:150px;
}

.search-buttons{
  padding-left: 7px;
}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
}
